a,
button {
    text-decoration: none;
    cursor: pointer;
}

button {
    border: 0;
}
a {
    color: white;
}

body {
    background: var(--bg-black);
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}


/* ---- PAGE 1 ---- */

.header--container {
    display: flex;
    margin: auto;
}

.header--sub-container {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header--content-container {
    max-width: 1600px;
    margin: auto;
    justify-content: space-between;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--secondary-color);
}

.header--content-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.foostudio {
    width: 200px;
    height: fit-content;
}

h1 {
    color: var(--primary-color);

}

h2 {
    font-size: 20px;
    color: var(--secondary-color);
}


.landing-page--full-container {
    display: flex;
    flex-direction: column;
    max-width: 1600px;
    margin: auto;
}

.landing-page--content {
    text-align: center;
    margin: auto;
}