a,
button {
    text-decoration: none;
    cursor: pointer;
}

button {
    border: 0;
}
a {
    color: white;
}

body {
    background: var(--bg-black);
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}
/* ---- TICKER ---- */
.ticker--container {
    display: block;
    text-align: center;
    overflow: hidden;
    height: 1px;
}

.ticker {
    width: 200%;
    height: 1px;
    background-image: url(../images/dash.svg);
    background-position: 0 50%;
    background-size: auto 1px;
    background-repeat: repeat-x;
    opacity: 50%;
    transform: translate3d(0, 0, 0);
    animation: scroll 2s linear infinite;
    transform-style: preserve-3d;
    will-change: transform;
}

@keyframes scroll {
    100% {
        transform: translate3d(20px, 0, 0);
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes opacity {
    0% {
        opacity: 50%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* ---- PAGE 1 ---- */

.content--container {
    height: 100%;
    width: 100%;
    margin-inline: auto;
    overflow: hidden;
}

.header--container {
    display: flex;
    margin: auto;
    height: 60px;
    background: var(--lighter-black);
    border-bottom: 1px solid black;
}

.header--sub-container {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header--content-container {
    max-width: 1600px;
    margin: auto;
    justify-content: space-between;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--secondary-color);
}

.header--content-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.foobar {
    width: 50px;
    margin-top: -20px;
    height: fit-content;
}

.menu-item {
    font-family: 'Share';
    color: var(--light-secondary-color);
    padding: 20px;
    font-size: 20px;
    transition: 500ms color;
}

.menu-item:hover {
    color: var(--max-secondary-color);
}

.contact--button {
    font-family: 'Roboto';
    margin-right: 8px;
    margin-left: 15px;
    background-color: var(--secondary-color);
    border: 1px solid black;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    color: var(--lightest-secondary-color);
    transition: 500ms background, 500ms color;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.293);
}

.contact--button:hover {
    background: var(--light-secondary-color);
    color: var(--max-secondary-color);
}

h1 {
    color: var(--lightest-secondary-color);
}

h2 {
    font-family: 'Share';
    font-size: 20px;
    color: var(--accent-color3);
}

.arrow {
    margin-bottom: 65px;
    z-index: 100;
    cursor: pointer;
    transition: 500ms opacity;
}

.arrow:hover {
    opacity: 50%;
}

.landing-page--full-container {
    display: flex;
    flex-direction: column;
    max-width: 1600px;
    margin: auto;
    padding: 75px 0;
}
.landing-page--main-container {
    display: flex;
    max-width: 1600px;
    width: 80%;
    height: 500px;
    background: var(--primary-color);
    margin-top: 100px;
    border: 1px solid black;
}

.landing-page--main-content {
    display: flex;
    width: 95%;
    margin: auto;
    margin-top: 40px;
    justify-content: space-between;
}

.landing-page--main-content span {
    color: var(--light-secondary-color);
}

.landing-page--left {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    width: 600px;
    height: 100%;
    line-height: 1.3em;
    font-size: 32px;
    gap: 6px;
    justify-content: space-between;
}

.landing-page--left-save-your {
    font-family: 'Trap';
    font-style: 'Black';
    margin-bottom: 0px;
}

.landing-page--left-smart-contracts {
    font-family: 'Trap';
    font-style: 'Black';
    margin-top: 0px;
    margin-bottom: 0px;
}
.landing-page--left-secondary {
    font-family: 'Spline-Sans-Mono';
    font-size: 16px;
    line-height: 18px;
}

.landing-page--lets-talk-button {
    font-family: 'Roboto';
    background-color: var(--secondary-color);
    border: 1px solid black;
    margin-top: 100px;
    width: 176px;
    height: 50px;
    padding-bottom: 3px;
    font-size: 18px;
    color: var(--lightest-secondary-color);
    transition: 500ms background, 500ms color, 500ms box-shadow;
}

.landing-page--lets-talk-button:hover {
    background: var(--light-secondary-color);
    color: var(--max-secondary-color);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.112);
}

.landing-page--right {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 535px;
    margin-right: 80px;
}

.landing-page--right img {
    margin-top: 32px;
}

.trusted-by--wrapper {
    display: flex;
    margin-left: -10px;
    margin-right: -10px;
    width: 75%;
    height: 350px;
    border: 1px solid black;
    border-top: 0;
    background-color: var(--lighter-black);
    text-align: center;
    margin-bottom: 100px;
}

.trusted-by--container {
    margin: auto;
    width: 90%;
    height: 75%;
}

.trusted-by--header h3 {
    font-family: 'Spline-Sans-Mono';
    color: var(--accent-color2);
    font-size: 20px;
}

.trusted-by--logo-grid {
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.trusted-by--logo-grid > img {
    width: 150px;
    object-fit: contain;
}

.landing-page--secondary-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.landing-page--main-container {
    display: flex;
    flex-direction: column;
    margin: auto;
}

/* ---- PAGE 2  ---- */

.info-page--main-container {
    display: flex;
    flex-direction: column;
    max-width: 1500px;
    width: 70%;
    margin: auto;
    text-align: center;
    gap: 30px;
    align-items: center;
}

.help-engineers--header > h4 {
    font-family: 'Trap';
    font-size: 38px;
    margin-bottom: 25px;
    margin-top: 100px;
    color: var(--max-secondary-color);
}

.help-engineers--header > p {
    margin: 0;
    font-size: 15px;
    color: var(--light-secondary-color);
}

.info-box--container {
    display: flex;
    flex-direction: row;
}

.info-box--container-2 {
    display: flex;
    flex-direction: row;
}

.info-box--1,
.info-box--2,
.info-box--3 {
    border: 1px solid black;
    width: 33.33%;
    height: auto;
    margin: 30px;
    gap: 20px;
    height: 200px;
    background-color: var(--lighter-black);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.165);
}

.info-box--header {
    color: var(--lightest-secondary-color);
    font-family: 'Trap';
    font-size: 20px;
    font-style: bold;
    margin-bottom: 0px;
}

.info-box--p {
    font-family: 'Spline-Sans-Mono';
    font-size: 13px;
    margin-inline: 20px;
    color: var(--light-secondary-color);
}

.blockchain--img-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    height: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
    filter: invert(100%);
}

.blockchain--img {
    width: 150px;
    animation: bounce 3s linear infinite;
}

.info-page--get-quote-button {
    font-family: 'Roboto';
    background-color: var(--secondary-color);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.165);
    justify-content: space-between;
    border: 1px solid black;
    margin-bottom: 100px;
    margin-top: 30px;
    width: 200px;
    height: 50px;
    font-size: 18px;
    color: var(--lightest-secondary-color);
    transition: 500ms background-color, 500ms color;
}

.info-page--get-quote-button:hover {
    background: var(--light-secondary-color);
    color: var(--max-secondary-color);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.112);
}

.data-chain--container {
    margin: auto;
    object-fit: contain;
}

.chain--container {
    animation: spin 20s infinite linear;
    margin: auto;
}

.magnify--img-container {
    animation: bounce 2s infinite linear;
    animation-delay: 100ms;
    max-width: 80%;
}

/* ---- PAGE 3  ---- */

.audits-page--full-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;
    margin-bottom: 200px;
}

.audits-page--main-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.audits--header {
    text-align: left;
    margin: 50px;
}

.audits--header-content {
    margin: 30px;
}

.audits--header-content > h4 {
    margin-top: 0;
    font-family: 'Trap';
    font-size: 45px;
    margin-bottom: 30px;
    color: var(--max-secondary-color);
}

.audits--header-content > p {
    font-family: 'Spline-Sans-Mono';
    margin: 0;
    font-size: 15px;
    color: var(--light-secondary-color);
}

.audits-page--container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: linear-gradient(
        180deg,
        var(--primary-color),
        rgba(0, 0, 0, 0) 10%
    );
    border: 1px solid black;
    margin: 0;
}

.audits--list {
    font-family: 'Spline-Sans-Mono';
    margin: auto;
    margin-top: 75px;
    width: 80%;
}

.audits--list > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 0.6px dashed var(--secondary-color);
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    color: var(--lightest-secondary-color);
    transition: 500ms background-color;
}

.audits--list > div:hover {
    background-color: #a5a5a554;
}

.audits--pdf-year {
    display: flex;
    flex-direction: row;
}

.audits--pdf {
    color: var(--accent-color3);
    margin-right: 10px;
    margin-left: 5px;
}

.audits--year {
    color: var(--secondary-color);
}

.audits--pdf-img {
    margin-top: 11px;
    cursor: pointer;
    filter: invert(75%);
}

.audits--load-more-button {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.audits--load-more-button button {
    font-family: 'Roboto';
    margin-right: 8px;
    margin-left: 15px;
    background-color: var(--secondary-color);
    border: 1px solid black;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    color: var(--lightest-secondary-color);
    transition: 500ms background, 500ms color;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.293);
}

.audits--load-more-button:hover button {
    opacity: 70%;
}

.secondary-color {
    color: var(--secondary-color);
}

.primary-color {
    color: var(--primary-color);
}

/* ----- FOOTER ===== */

.footer--container {
    display: flex;
    font-family: 'Spline-Sans-Mono';
    background: var(--lighter-black);
    height: 350px;
    align-items: center;
    color: white;
    border-top: 1px solid black;
}

.footer--content-container {
    display: flex;
    flex-direction: row;
    gap: 250px;
    margin: auto;
}

.footer--content-left {
    display: flex;
    margin-top: 12px;
}

.footer--content-left h2 {
    margin-top: 5px;
}

.slide-in {
    animation: slide-in 100ms ease-in;
}

@keyframes slide-in {
    from {
        opacity: 10%;
    }
    to {
        opacity: 100%;
    }
}

.swipe {
    animation: swipe 200ms ease-in;
}

@keyframes slide-in {
    from {
        opacity: 100%;
        transform: translatex(0%);
    }
    to {
        opacity: 0%;
        transform: translatex(-10%);
    }
}
