#root {
    margin: 0 auto;
}

a,
button {
    text-decoration: none;
}

body {
    background: #eff7f9;
}

.landing-page--container {
    display: flex;
    width: 80%;
    height: 350px;
    background: linear-gradient(
        260.83deg,
        #ebe8ff 6.86%,
        rgba(225, 243, 248, 0.35) 67.81%,
        rgba(214, 210, 232, 0.5625) 118.92%,
        rgba(39, 29, 222, 0.22) 195.57%,
        rgba(217, 217, 217, 0) 195.59%
    );
    border: 1px solid var(--primary-color);
    margin: auto;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}

.content--container {
    height: 100%;
    width: 80%;
    max-width: 1300px;
    margin-inline: auto;
}

.header--container {
    position: relative;
    margin-top: 20px;
    height: 50px;
    background: white;
    border: 1px solid var(--primary-color);
}

.header--container--layer2 {
    position: absolute;
    margin-top: -5px;
    height: 50px;
    background: white;
    margin-left: 5px;
    border: 1px solid var(--primary-color);
    width: 100%;
    z-index: -100;
}

.header--sub-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
}

.header--content-container {
    justify-content: space-between;
    width: 100%;
    background: white;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.header--content-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.foobar {
    width: 45px;
    margin-top: -10px;
    margin-left: -5px;
    height: fit-content;
}

.menu-item {
    font-family: 'Share';
    color: var(--primary-color);
    padding: 10px;
    font-size: 16px;
}

.contact--button {
    font-family: 'Roboto';
    margin-right: 8px;
    margin-left: 10px;
    background-color: var(--primary-color);
    border: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 14px;
    color: white;
}

h1 {
    font-family: 'Share';
    font-size: 16px;
}
