@font-face {
    font-family: 'Share';
    src: url(../fonts/Share-Bold.ttf) format('truetype'),
        url(../fonts/Share-Regular.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Spline-Sans-Mono';
    src: url(../fonts/SplineSansMono-VariableFont_wght.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    box-sizing: border-box;
    tab-size: 4;

    --primary-color: #EEEEEE;
    --secondary-color: #FAFAFA;
    --light-secondary-color: #818181;
    --lightest-secondary-color: #bfbfbf;
    --max-secondary-color: #e4e4e4;
    --lighter-black: #202228;
    --bg-black: #1D2026;
    --accent-color1: #F8E066;
}

:root {
    font-family: 'Spline-Sans-Mono', sans-serif, Helvetica,
        sans-serif;
    color: var(--primary-color);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
